<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.wisdompark.mapper.ConsumeRecordMapper">

    <select id="totalConsomeRecordRechargeAmount" resultType="BigDecimal" parameterType="com.eco.wisdompark.domain.dto.req.consumeRecord.FinanceConsumeRecordDto">
        select sum(recharge_amount) as rechargeAmount from tb_consume_record where 1==1
        <if test="userIdList !=null and userIdList.size!=0">
            and user_id in (
            <foreach collection="userIdList" item="item" index="index" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="posNumList !=null and posNumList.size!=0">
            and pos_num in (
            <foreach collection="posNumList" item="item" index="index" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="consomeType !=null ">
            and type = #{consomeType}
        </if>
        <if test="startTime !=null and startTime !=''">
            and <![CDATA[ create_time  >= #{startTime} ]]>
        </if>
        <if test="endTime !=null and endTime !=''">
            and <![CDATA[ create_time  <= #{endTime} ]]>
        </if>
    </select>

    <select id="totalConsomeRecordSubsidyAmount" resultType="BigDecimal" parameterType="com.eco.wisdompark.domain.dto.req.consumeRecord.FinanceConsumeRecordDto">
        select sum(subsidy_amount) as subsidyAmount from tb_consume_record where 1==1
        <if test="userIdList !=null and userIdList.size!=0">
            and user_id in (
            <foreach collection="userIdList" item="item" index="index" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="posNumList !=null and posNumList.size!=0">
            and pos_num in (
            <foreach collection="posNumList" item="item" index="index" separator=",">
                #{item}
            </foreach>
            )
        </if>
        <if test="consomeType !=null ">
            and type = #{consomeType}
        </if>
        <if test="startTime !=null and startTime !=''">
            and <![CDATA[ create_time  >= #{startTime} ]]>
        </if>
        <if test="endTime !=null and endTime !=''">
            and <![CDATA[ create_time  <= #{endTime} ]]>
        </if>
    </select>

</mapper>
