<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eco.wisdompark.mapper.SubsidyRecordMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO tb_subsidy_record (card_id, card_serialNo, user_id,amount,type)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.cardId},
            #{item.cardSerialNo},
            #{item.userId},
            #{item.amount},
            #{item.type})
        </foreach>
    </insert>

    <select id="countAmount" resultType="java.lang.Double">
        select sum(amount) from tb_subsidy_record
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>